@import "tailwindcss";

@theme {
  --color-gray-750: #2d3748;
  --color-gray-850: #1a202c;
  --color-gray-950: #0d1117;
  --font-hand: "Architects Daughter", cursive;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}
